---
layout:
---
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{ post.title }}</title>
        {% include head.html %}
    </head>
    <body>
        <div class="logo_container">
            <div class="wrapper">
                <div class="logo pull-left">
                    <a href="{{ site.url }}">
                        <img src="{{ "/assets/images/logo.png" | prepend: site.url }}" alt="Logo">
                    </a>
                </div>
                <div class="social_media pull-right">
                    <div class="social_media_icon">
                        <a href="https://twitter.com/freshbitsweb" target="_blank">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-square fa-stack-2x" style="color:#29A1D3;"></i>
                                <i class="fa fa-twitter fa-stack-1x" style="color:white;"></i>
                            </span>
                        </a>
                    </div>
                    <div class="social_media_icon">
                        <a href="https://www.facebook.com/freshbitsweb/" target="_blank">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-square fa-stack-2x" style="color:#4F62AF;"></i>
                                <i class="fa fa-facebook fa-stack-1x" style="color:white;"></i>
                            </span>
                        </a>
                    </div>
                    <div class="social_media_icon">
                        <a href="https://www.youtube.com/watch?v=qxPhW9xLJi0" target="_blank">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-square fa-stack-2x" style="color:#E73C32;"></i>
                                <i class="fa fa-youtube-play fa-stack-1x" style="color:white;"></i>
                            </span>
                        </a>
                    </div>
                    <div class="search_box">
                        <form action="{{ site.url }}/search" method="get">
                          <input class="form-control" type="text" placeholder="Search" type="text" id="search-box" name="query">
                          <input  class="submit_button" type="submit" value="search">
                        </form>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="header_2">
            <div class="header_main">
                <div class="header_wrapper">
                    <div class="header_text">
                        <div class="left_top_corner"></div>
                        <div class="title_text"><span>Search Result</span></div>
                        <div class="right_bottom_corner"></div>
                    </div>
                </div>
            </div>
        </div>

        <form action="{{ site.url }}/search" method="get">
          <input type="hidden" id="search-box" name="query">
          <input type="submit" style="display:none" value="search">
        </form>
        <div class="content">
            <div class="wrapper">
                <div class="custom_panel">
                    <div class="panel panel-default">
                        <ol id="search-results">
                            <h1 style='margin-left:30%;'>No results found</h1>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        {% include footer.html %}
        <script>
        window.store = {
            {% for post in site.posts %}
            "{{ post.url | slugify }}": {
                "title": "{{ post.title | xml_escape }}",
                "image": "{{ post.image | xml_escape }}",
                "alternateText": "{{ post.alternateText | xml_escape }}",
                "author": "{{ post.author | xml_escape }}",
                "date": "{{ post.date | xml_escape }}",
                "category": "{{ post.category | xml_escape }}",
                "content": {{ post.content | strip_html | strip_newlines | jsonify }},
                "url": "{{ post.permalink | xml_escape }}",
                "baseurl": "{{ site.url | xml_escape }}"
            }
            {% unless forloop.last %},{% endunless %}
            {% endfor %}
        };
        </script>
        <script src="{{ "/assets/js/lunr.min.js" | prepend: site.url }}"></script>
        <script src="{{ "/assets/js/search.js" | prepend: site.url }}"></script>
    </body>
</html>
