<footer class="site-footer">
    <div class="footer">
        <div class="wrapper">
            <div class="row">
                <div class="col-md-4">
                    <div class="logo">
                        <a href="{{ site.url }}">
                            <img src="{{ "/assets/images/logo.png" | prepend: site.url }}" alt="Logo" />
                        </a>
                    </div>
                    <div class="white_text">This blog is our effort to share our learnings with fellow developers and we really appreciate your support by sharing ideas and posting comments. Stay Updated!</div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="col_title">Tags</div>
                    <div class="footer_navigation">
                        <ul>
                            {% for tag in site.tags %}
                                <li class="inline archive_list">

                                    <a
                                        class="
                                            tag_list_link
                                            {% if tag[0] == page.tag %}active{% endif %}
                                        "
                                        href="{{ site.url }}/tags/{{ tag[0] | slugify }}"
                                    >
                                        {{ tag[0] | replace:'-', ' '  | capitalize }}
                                        ({{ tag | last | size }})
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                {% include subscribe.html %}
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<div class="copyright_text">&copy; 2017 Freshbits Web Solutions. All rights reserved.</div>
</footer>
