<div class="logo_container">
    <div class="wrapper">
        <div class="logo pull-left">
            <a href="{{ site.url }}/">
                <img src="{{ "/assets/images/logo.png" | prepend: site.url }}" alt="Logo">
            </a>
        </div>
        <div class="social_media pull-right">
            <div class="social_media_icon">
                <a href="https://twitter.com/freshbitsweb" target="_blank">
                    <span class="fa-stack fa-lg">
                        <i class="fa fa-square fa-stack-2x" style="color:#29A1D3;"></i>
                        <i class="fa fa-twitter fa-stack-1x" style="color:white;"></i>
                    </span>
                </a>
            </div>
            <div class="social_media_icon">
                    <span class="fa-stack fa-lg">
                        <a href="https://www.facebook.com/freshbitsweb/" target="_blank">
                        <i class="fa fa-square fa-stack-2x" style="color:#4F62AF;"></i>
                        <i class="fa fa-facebook fa-stack-1x" style="color:white;"></i>
                    </span>
                </a>
            </div>
            <div class="social_media_icon">
                <a href="https://www.youtube.com/watch?v=qxPhW9xLJi0" target="_blank">
                    <span class="fa-stack fa-lg">
                        <i class="fa fa-square fa-stack-2x" style="color:#E73C32;"></i>
                        <i class="fa fa-youtube-play fa-stack-1x" style="color:white;"></i>
                    </span>
                </a>
            </div>
            <div class="search_box">
                <form action="{{ site.url }}/search" method="get">
                  <input class="form-control" type="text" placeholder="Search" type="text" id="search-box" name="query">
                  <input  class="submit_button" type="submit" value="search">
                </form>
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
