<div class="post_navigation">

    {% if paginator.previous_page_path %}
        <a href="{{ paginator.previous_page_path }}" class="btn btn-default btn_prev">
            <span class="glyphicon glyphicon-arrow-left"></span>
            Prev
        </a>
    {% else %}
        <a class="btn btn-default btn_prev">
            <span class="glyphicon glyphicon-arrow-left"></span>
            Prev
        </a>
    {% endif %}

    {% if paginator.next_page_path %}
        <a href="{{ paginator.next_page_path }}" class="btn btn-default btn_next">
            Next
            <span class="glyphicon glyphicon-arrow-right"></span>
        </a>
    {% else %}
        <a class="btn btn-default btn_next">
            Next
            <span class="glyphicon glyphicon-arrow-right"></span>
        </a>
    {% endif %}
</div>
