---
layout: default
---
<div class="header_2">
    <div class="header_main">
        <div class="header_wrapper">
            <div class="header_text">
                <div class="left_top_corner"></div>
                <div class="title_text"><span>{{page.title}}</span></div>
                <div class="right_bottom_corner"></div>
            </div>
        </div>
    </div>
</div>
<div class="content">
    <div class="wrapper">
        <div class="custom_panel">
            <div class="panel panel-default">
                <div class="panel-heading">
                    {{ page.title }}
                </div>
                <div class="post_details_head">
                    <div class="post_details">
                        <span class="glyphicon glyphicon-time"></span>
                        {{ page.date | date: '%B %d, %Y' }}
                    </div>
                    <div class="post_details">
                        <span class="glyphicon glyphicon-user"></span>
                        Posted by
                        <span class="dark_text">Admin</span>
                    </div>
                    <div class="post_details">
                        <span class="glyphicon glyphicon-comment"></span>
                        <span class="dark_text">
                            comments
                            <span class="disqus-comment-count" data-disqus-identifier="{{ page.permalink }}">First article</span>
                        </span>
                    </div>
                </div>
                <div class="panel-image">
                    <img src="{{ site.url }}{{ site.baseurl }}/assets/images/{{ page.image }}" alt="{{ page.alternateText }}">
                </div>
                <div class="panel-body">
                    {{ page.threelinetext }}<br><br>

                    {{ content }}

                    {% if page.video %}
                    <div class="video_section">
                        <div class="video_bg">
                            {% include youtube_embed.html id=page.video %}
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
            {% include comments.html %}

            {% include scripts.html %}
        </div>
    </div>
</div>
</div>
